modules = ["nodejs-20", "web", "nix"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server/server.js"]
build = ["sh", "-c", "npm install && cd client && npm install && npm run build"]

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Start Server"
author = 42168937
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node server.js"

[[workflows.workflow]]
name = "Frontend Dev"
author = 42168937
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 42168937
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
