modules = ["nodejs-20", "web", "nix"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 42168937
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node server.js"
